.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

#editor {
    width: 500px;
    height: 400px;
}

.submit {
    clear: both;
    float: right;
}

.editor-wrapper {
    float: left;
}

.instructions {
    float: left;
    width: 500px;
    height: 400px;
    padding: 1em;
}

.application {
    margin-top: 2em;
}